.section {
    margin-bottom: 11.563rem;
    width: 100%;

    @media (max-width: 1200px) {
        padding: 0 2rem;
        width: 100%;
    }

    @media (max-width: 768px) {
        margin-bottom: 6rem;
    }
}
