.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.projects {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: 1200px) {
        flex-direction: column;
        padding: 0 2rem;
    }
}

.section {
    margin-bottom: 11.563rem;

    @media (max-width: 768px) {
        margin-bottom: 6rem;
    }
}
