.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.description {
    margin-bottom: 1.25rem;

    @media (max-width: 1200px) {
        font-size: 1.1rem;
    }
}

.link {
    color: black;
}

.linkText {
    margin-right: 2px;
}

.project {
    color: black;
    background-color: var(--background-secondary);
    border-radius: 18px;
    margin: 0 10px;
    padding: 18px;
    width: 360px;

    @media (max-width: 1200px) {
        width: 100%;
        margin: 10px 0;
    }
}

.project:hover {
    color: white;
    background-color: #fb7f64;
    transition:
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;
}

.project:hover .linkIcon {
    filter: brightness(0) invert(1);
}

.project:hover .linkText,
.project:hover .title,
.project:hover .description {
    color: white;
    transition: color 0.3s ease-in-out;
}

.project:hover .linkText {
    color: white;
    margin-right: 10px;
    transition: margin-right 0.5s ease-in-out;
}

.projectImage {
    border-radius: 10px;
    margin-bottom: 20px;
}

.projects {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: 1200px) {
        flex-direction: column;
        padding: 0 4rem;
    }
}

.section {
    margin-bottom: 11.563rem;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.625rem;
}

.viewBlock {
    align-items: center;
    color: var(--color-primary);
    display: flex;
    justify-content: flex-start;
}
